
.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}


a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
min-width: 250px;
max-width: 250px;
background: #000000;
color: #fff;
margin-left: -250px;
transition: all 0.5s;
}

.sidebar.is-open {
margin-left: 0;
transition: .5s;
}


.sidebar-header {
background: #6b6b6b;
}

.sidebar-header h3{
color: #fff;
padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.menu-open {
background: #6b6b6b;
}

.nav-item {
  padding: 10px;
}

.nav-item:hover {
  color: #000000;
  background: #fff;
}

.items-menu {
color: #fff;
background: #6b6b6b;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%
}

.sidebar-header > a {
  position: relative;
  float: right;
  margin: .5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

/* ---------------------------------------------------
  header STYLE
----------------------------------------------------- */
.header {
padding: 20px;
margin-left: 0;
height: 100vh;
}

@media only screen and (max-width: 500px) {
  body {
    overflow:  hidden;
  }

  .header.is-open {
    margin-left: 100%;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }

  .sidebar.is-open > .sidebar-header a{
    display: unset;
  }

  li a.dropdown-toggle::after {
      display: inline-block;
      position: relative;
      left: 68%;
  }
}


.Login {
  text-align: left;
  padding: 1em;
  margin: 1em;
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin-top: 100px;
}

.form {
  padding: 1em;
}

label {
  display: flex;
  font-weight: 600;
}

button {
  justify-content: flex-end;
}

.Login-title {
  font-size: 1.5em;
}

.Login-intro {
  font-size: large;
}

@keyframes Login-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}